body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
span,
a,
th,
td {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    letter-spacing: 0.44px;
}

.h1 {
    font-size: 35px;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 22px;
}

.p {
    font-size: 20px;
}

.span {
    font-size: 18px;
}

.page {
    height: 100vh;
    scroll-snap-align: start;
    padding: 60px 60px 60px 94px;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Appointment */

.appointment {
    background-image: url('../../assets/img/bg-1.jpg');
    color: #FFF;
}

.appointment__button {
    border-radius: 58px;
    background: #3F890E;
    padding: 10px 21px;
    border: none;
    cursor: pointer;
}

.appointment__button span {
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.blur {
    position: relative;
    z-index: 0;
    width: 0;
    height: 0;
}

.appointment__blur {
    top: -23rem;
    left: -40rem;
}

.blur::before {
    content: '';
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.34);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
}

.appointment__blur::before {
    width: 466px;
    height: 466px;
}

.appointment__description {
    text-transform: uppercase;
    letter-spacing: 0.44px;
    font-weight: 400;
}

.appointment__small-map {
    width: 182px;
    height: 179px;
}

.appointment__room {
    max-width: 720px;
}

.nav__list {
    list-style: none;
    padding-left: 0;
}

.nav__item {
    transition: all .3s ease-in-out;
}

.nav__item:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.06);
    color: #3b3b3b;
}

.nav__item a {
    text-decoration: none;
    color: #696969;
    letter-spacing: 0.44px;
    text-transform: uppercase;
}

.nav__icon {
    width: 62px;
    height: 62px;
    border: 2.5px solid #696969;
}

.active-nav, 
.active-nav a {
    color: #FFF;
}

.active-nav > a .nav__icon {
    border: 2.5px solid #FFF;
}

/* About */

.about {
    background-image: url('../../assets/img/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about__top {
    max-height: 200px;
}

.about__description h3 {
    font-weight: 400;
    letter-spacing: 0.44px;
}

.about nav {
    position: relative;
    top: 3rem;
}

.about .progress__inner {
    width: 102px;
}

.active-nav-about,
.active-nav-about a {
    color: #000000;
}
.active-nav-about > a .nav__icon {
    border: 2.5px solid #000;
}

.about__blur {
    top: -0.1rem;
    left: -30rem
}

.about__blur::before {
    width: 591px;
    height: 238px;
}

/* Price */

.price {
    background-image: url('../../assets/img/bg-3.jpg');
    background-size: cover;
}

.price__table {
    border: 2px solid #000;
    border-collapse: collapse;
    background-color: #FFF;
}

.price__table th {
    padding: 20px 100px 14px;
}

.price__table th:not(:last-child) {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.price__table th:last-child {
    border-bottom: 2px solid #FFF;
    color: #FFF;
    background-color: #000;
}

.price__table td {
    padding: 13px 0;
    text-align: center;
    border-top-width: 0;
    border-left-width: 0;
    border-right: 2px solid #000;
}

.price__table td:last-child {
    background-color: #000;
    color: #FFF;
    border: 2px solid #000;
}

.price .progress__inner {
    width: 156px;
}

/* Masters */

.masters {
    background-color: #000000;
    color: #FFF;
}

.masters__desc-carousel {
    max-width: 269px;
    overflow: hidden;
    position: relative;
}

.masters__card-wrapper {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.masters__card {
    border: 2px solid #3F890E;
    padding: 76px 22px 22px;
    min-width: 269px;
    box-sizing: border-box;
}

.masters__name {
    text-transform: uppercase;
}

.masters__rank {
    text-transform: uppercase;
    font-weight: 400;
}

.masters__description {
    line-height: 122.6%;
}

.masters__arrows {
    cursor: pointer;
}

.masters__arrows img {
    transition: all .2s ease-in-out;

}

.masters__arrows img:hover {
    opacity: 0.7;
}

.masters__carousel {
    position: relative;
    right: -7rem;
    width: fit-content;
    overflow: hidden;
}

.masters__carousel-wrapper {
    width: fit-content;
    transition: all .5s;
}

.remove-gray {
    filter: grayscale(0%) !important;
}

.masters__carousel img {
    max-width: 426px;
    max-height: 530px;
    filter: grayscale(100%);
}

.masters__blur {
    left: -6rem;
    top: -5rem;
}

.masters__blur::before {
    width: 588px;
    height: 606px;

}

.masters .progress__inner {
    width: 208px;
}

/* Contacts */

.contacts {
    background-image: url('../../assets/img/bg-4.jpg');
    background-size: cover;
    color: #FFF;
}

.contacts__blur {
    top: -1.4rem;
    left: -3.4rem;
}

.contacts__blur::before {
    width: 401px;
    height: 254px;
}

.contacts .progress__inner {
    width: 100%;
}

.contacts .progress::after {
    content: '';
}

.contacts__info {
    max-width: 283px;
    text-transform: uppercase;
}

.contacts__info .h3 a {
    text-decoration: none;
    color: #FFF;
}

.progress {
    width: 250px;
    height: 8px;
    background: #858585;
}

.progress__inner {
    height: 100%;
    width: 51px;
    background: #3F890E;
}

.progress::after {
    content: url('../../assets/icons/scroll-icon.svg');
    position: relative;
    left: 17rem;
    top: -9.5rem;
    z-index: 1;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

/* Height */

@media  (max-height: 945px) {
    .appointment__room {
        max-width: 615px;
    }

    .about__title {
        margin-top: 35px !important;
    }

    .about .md-logo {
        margin-top: 20px;
    }

    .price__title {
        margin-top: 30px !important;
    }

    .masters__content,
    .masters__title img {
        margin-top: 0 !important;
    }

    .masters__carousel img {
        max-height: 419px; 
    }

    .masters__desc-carousel {
        gap: 10px !important;
    }

    .masters__card {
        padding: 30px 15px;
    }

    .masters__arrows img {
        height: 50px;
        width: 50px;
    }

    .contacts iframe {
        height: 347px;
        width: 650px;
    }

    .contacts__title {
        margin-top: 30px !important;
    }

    .contacts__blur::before {
        width: 300px;
        height: 200px;
    }

    .contacts__content {
        margin-top: 0 !important;
    }
}

@media  (max-height: 875px) {
    .appointment__top {
        margin-top: 30px !important;
    }

    .appointment__room {
        max-width: 515px;
        max-height: 300px;
    }

    .about {
        background-position: 0 -80px;
    }

    .about__title .lg-text {
        height: 100px;
    }

    .about__bottom,
    .about__bottom img,
    .about__blur::before {
        height: 150px;
    }

    .price__content {
        margin-top: 5px !important;
    }

    .price__title img{
        height: 100px;
    }

    .price__table td,
    .price__table th {
        padding: 5px 40px;
    }
}

@media  (max-height: 775px) {
    .appointment__title {
        height: 100px;
    }
    
    .about nav {
        top: -1rem;
    }

    .price__title img{
        height: 100px;
    }

    .price__table td,
    .price__table th {
        padding: 5px 40px;
    }
}


@media  (max-height: 720px) {
    .page {
        justify-content: space-evenly !important;
        padding: 70px 20px !important;
    }

    .logo {
        height: 30px;
    }

    .appointment__title {
        height: 30px !important;
    }

    .appointment__button {
        padding: 5px 10px;
    }

    .appointment__button span {
        font-size: 18px !important;
    }

    .appointment__button img {
        height: 13px !important;
    }

    .appointment__description {
        font-size: 12px !important;
    }

    .appointment__location {
        margin-top: 1rem;
        flex-direction: row !important;
        gap: 1rem;
    }

    .appointment__location div span {
        font-size: 14px;
    }

    .appointment__small-map {
        width: 135px;
        height: 125px;
    }

    .appointment__room {
        display: none;
    }

    .about {
        background-position: 0 -65px !important;
    }

    .about__title {
        margin-top: 0px !important;
    }

    .about .md-logo {
        margin-top: 0px !important;
    }

    .about__description .h1 {
        font-size: 16px !important;
    }

    .about__description .h3 {
        font-size: 12px !important;
    }

    .about__bottom  {
        gap: 5px !important;
    }

    .about__bottom,
     .about__bottom img, 
     .about__blur::before {
        height: 90px !important;
    }

    .about__blur {
        left: -25rem;
    }

    .about__location span {
        font-size: 14px;
    }

    .price__title {
        margin-top: 0px !important;
    }

    .price__title img {
        height: 60px !important;
    }

    td,
    th {
        font-size: 12px !important;
    }

    .masters__title img {
        height: 41px !important;
    }

    .masters__desc-carousel .h3 {
        font-size: 14px;
        margin-top: 5px;
    }
    
    .masters__arrows img {
        height: 30px !important;
        width: 30px !important;
    }

    .masters__carousel img {
        height: 150px !important;
    }
    
    .masters__carousel {
        right: -4.5rem !important;
    }

    .masters__card .h2 {
        font-size: 14px !important;
    }

    .masters__card .h3 {
        font-size: 12px !important;
    }

    .masters__card .span {
        font-size: 12px !important;
    }
    .masters__content {
        gap: 0px !important;
    }

    .contacts__title img {
        height: 40px !important;
    }

    .contacts iframe {
        width: 314px !important;
        height: 274px !important;
    }

    .contacts__info .h3,
    .contacts__info .h3 a {
        font-size: 14px !important;
        text-decoration: none;
        color: #FFF;
    }

    .contacts__info br {
        display: none;
    }
}

/* Width */

@media  (max-width: 1284px) {
    .appointment__room {
        max-width: 615px;
    }

    .about__title {
        margin-top: 35px;
    }

    .about .md-logo {
        margin-top: 20px;
    }

    .price__title {
        margin-top: 30px;
    }

    .masters__content,
    .masters__title img {
        margin-top: 0 !important;
    }

    .masters__carousel img {
        max-height: 419px; 
    }

    .masters__desc-carousel {
        gap: 10px !important;
    }

    .masters__card {
        padding: 30px 15px;
    }

    .masters__arrows img {
        height: 50px;
        width: 50px;
    }

    .contacts iframe {
        height: 347px;
        width: 650px;
    }

    .contacts__title {
        margin-top: 30px !important;
    }

    .contacts__blur::before {
        width: 300px;
        height: 200px;
    }

    .contacts__content {
        margin-top: 0 !important;
    }
}

@media  (max-width: 1200px) {
    .appointment__top {
        margin-top: 30px !important;
    }

    .appointment__title {
        height: 100px;
    }

    .appointment__room {
        max-width: 515px;
        max-height: 300px;
    }

    .about {
        background-position: 0 -40px;
    }

    .about__title .lg-text {
        height: 100px;
    }

    .about__top {
        margin-top: 0 !important;
    }

    .about__top .md-logo {
        height: 100px;
    }

    .about__bottom,
    .about__bottom img,
    .about__blur::before {
        height: 150px;
    }

    .price__content {
        margin-top: 5px !important;
    }

    .price__title img{
        height: 100px;
    }

    .price__table td,
    .price__table th {
        padding: 5px 40px;
    }

    .masters__carousel {
        right: 0;
    }

    .contacts iframe {
        width: 570px;
    }
}

@media  (max-width: 1028px) {
    nav {
        display: none;
    }
    
    .about nav {
        top: -1rem;
    }

    .price__title img{
        height: 100px;
    }

    .price__table td,
    .price__table th {
        padding: 5px 40px;
    }
}

@media  (max-width: 980px) {

    .appointment__room {
        max-width: 370px;
        max-height: 141px;
    }

    .appointment__top {
        flex-wrap: wrap;
    }

    .progress-container {
        margin-left: 0 !important;
        justify-content: flex-start !important;
    }

    .about__content {
        flex-wrap: wrap;
    }

    .about__bottom, 
    .about__bottom img, 
    .about__blur::before {
        height: 100px;
    }
    
    .masters__title img {
        height: 100px;
    }

    .masters__carousel img {
        height: 350px;
    }

    .masters__arrows {
        z-index: 2;
    }

    .contacts__title img{
        height: 100px;
    }

    .contacts__content {
        flex-wrap: wrap;
        align-items: start !important;
        justify-content: start !important;
    }
}

@media  (max-width: 800px) {
    .page {
        padding: 20px;
    }

    .about .lg-text {
        height: 70px;
    }

    .progress-container {
        margin-left: 0;
    }

    .price__table td,
    .price__table th {
        padding: 5px 5px;
    }
    
    .masters__content {
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center;
    }
    
    .masters__carousel-wrapper {
        width: 263px;
    }

    .masters__blur {
        display: none;
    }

    .contacts__title img {
        height: 70px;
    }
}

@media  (max-width: 592px) {
    .masters__title img {
        height: 70px;
    }

    .masters__carousel img {
        height: 250px;
    }

    .masters__carousel {
        right: -2rem;
    }

    .contacts iframe {
        width: 450px;
    }
}

@media  (max-width: 540px) {
    .page {
        padding: 20px 20px;
    }
    
    .appointment__title {
        height: 70px;
    }

    .appointment__description {
        font-size: 16px;
    }
    
    .appointment__button span {
        font-size: 16px;
    }
    .appointment__button img {
        height: 15px;
    }

    .appointment__content {
        flex-wrap: wrap;
        gap: 10px !important;
    }

    .progress::after {
        content: url('../../assets/icons/small-scroll-icon.svg');
        top: -6.5rem;
        left: 15rem;
    }

    .about .lg-text {
        height: 50px;
    }
    
    .about__top .md-logo {
        height: 70px;
    }

    .about__description .h1 {
        font-size: 20px;
    }

    .about__description .h3{
        font-size: 16px;
    }

    .masters__card {
        padding: 10px;
    }

    .masters__card .h2 {
        font-size: 20px;
    }
    .masters__card .h3 {
        font-size: 18px;
    }
    .masters__card .span {
        font-size: 16px;
    }

    .contacts__title img {
        height: 50px;
    }
    .contacts iframe {
        width: 350px;
    }
    .contacts__blur::before {
        display: none;
    }
}